body > .container {
    padding: 30px;
}
body > .container p {
    margin-bottom: 30px;
    border: 1px solid royalblue;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 20px
}
body > .container p span {
    color: royalblue
}
body > .container p span:hover {
    cursor: pointer;
}
